#link {
    text-decoration: none;
    color: gray;
}

#card-container p {
    margin: 5px;
    margin-top: 10px;
    text-align: center;
}

#card-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#temps {
    flex-direction: row;
    align-items: stretch;
    margin-top: 10px;
    text-align: center;
}

#high {
    color: black;
    margin-right: 5px;
}

#low {
    margin-left: 5px;
}